@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}

@mixin dfx($fd: row, $jc: space-between, $fw: wrap) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    flex-wrap: $fw;
}

/*
@include dfx-cen();
*/
@mixin dfx-cen($fd: column, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin fxb($w) {
    flex-basis: ($w / $wrap-width) * 100%;
}

@mixin ls($px, $ls) {
    letter-spacing: (($px * $ls) / 1000);
}

/*
@include gtc-raf($min);
*/
@mixin gtc-raf($min, $gap: 0px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, auto));
    grid-column-gap: $gap;
}

/*
@include gtc-12($wc, $hr);
*/
@mixin gtc-12($wc, $hr) {
    display: grid;
    grid-template-columns: repeat(12, minmax($wc, auto));
    grid-auto-rows: minmax($hr, auto);
}

/*
@include bg-af();
*/
@mixin bg-af($bgc: rgba(0, 0, 0, 0.5)) {
    
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background-color: $bgc;
        @content;
    }
}

@mixin img-cov() {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
@include abs-cen();
*/
@mixin abs-cen() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin circle($w, $h: false) {
    width: $w;
    @if $h == false {
        height: $w;
    } @else {
        height: $h;
    }
    border-radius: 50%;
}

@mixin txt-ovr() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
@include wk-af($c: black, $bg: white, $sp: 1000px);
*/
@mixin wk-af($c: black, $bg: white, $sp: 1000px) {
    &:-webkit-autofill {
        -webkit-text-fill-color: $c !important;
        -webkit-box-shadow: 0 0 0px $sp $bg inset;
    }
}

@mixin inp-foc-lab($fs: 12px, $trf: -12px) {
    &:focus + label, &:valid + label {
        font-size: $fs;
        transform: translateY($trf);
    }
}

@mixin lab-inp-foc($fs: 12px, $trf: -12px) {
    label + &:focus , label + &:valid {
        font-size: $fs;
        transform: translateY($trf);
    }
}